[submodule "src/components/Article/LightweightMarkup/scss"]
	path = src/components/Article/LightweightMarkup/scss
	url = https://github.com/hitsuji-no-shippo/article-css-for-asciidoc.git
[submodule "content/blog"]
	path = content/blog
	url = https://github.com/hitsuji-no-shippo/sample-posts-with-asciidoc.git
