[submodule "src/components/Article/article-css-for-asciidoc"]
	path = src/components/Article/article-css-for-asciidoc
	url = https://github.com/hitsuji-no-shippo/article-css-for-asciidoc.git
[submodule "src/components/Article/scss"]
	path = src/components/Article/scss
	url = https://github.com/hitsuji-no-shippo/article-css-for-asciidoc.git
[submodule "content/blog"]
	path = content/blog
	url = https://github.com/hitsuji-no-shippo/sample-articles-for-asciidoctor.git
